*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;

    background: linear-gradient(135deg,#667eea,#764ba2);

    min-height: 100vh;
}

.about{
    display: flex;

    justify-content: center;

    align-items: center;

    min-height: 90vh;
}

.about-box{
    width: 500px;

    padding: 40px;

    background: rgba(255,255,255,0.1);

    backdrop-filter: blur(15px);

    border-radius: 20px;

    color: white;

    text-align: center;
}

.about-box h1{
    font-size: 40px;

    margin-bottom: 20px;
}

.about-box p{
    line-height: 30px;

    margin-bottom: 25px;
}

.about-box button{
    padding: 12px 28px;

    border: none;

    border-radius: 30px;

    background: #38bdf8;

    color: white;

    cursor: pointer;
}